
main, header{
 
  

}
main{
  padding-bottom: 30px;
}
body{
  background-image: url(../img/connect/connectbg.jpg);
  background-size: cover;
  background-repeat: none;
}
.title {  
  color: #fafafa;
  padding: 15px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 4.2rem;
  text-shadow: 2px 2px 4px rgba(32, 30, 30, 0.3);
}
figure{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 3px;
  padding: 3px;
}
figcaption{
  color: aliceblue;
  font-size: 1.2rem;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(32, 30, 30, 0.25);
}
p{
  color: #faf6f2;
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
  text-shadow: 2px 2px 4px rgba(32, 30, 30, 0.55);
  background-color:rgba(43, 18, 0, 0.25);
  padding: 25px;

}

b {
  color: #faf6f2;
  font-size: 2.8rem;
  font-weight: 800;
  font-family: 'Quicksand', sans-serif;
  text-shadow: 2px 2px 4px rgba(32, 30, 30, 0.7);
}


img{
  width: 8rem; height: 8rem; 
}

.images-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.logo-form_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px 0 50px 0;
  width: 100%;
}

.description{
  align-items: center;
  color: #413c36;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  width: 40%;
  font-size: 1.2rem;
  font-weight: 650;
  font-family: 'Inter', sans-serif;
  text-shadow: 2px 2px 4px rgba(32, 30, 30, 0.0);
  
  
}
.description p {
font-size: 1.2rem;
font-family: 'Inter', sans-serif;
}
.form-Container{
  width: 60%;
  display: flex;
  justify-content: center;
}
form{
  color: #9a9898;
  background-color: #e2dcdc;
  opacity: 0.8;
  
  border-radius: 5px;
  box-shadow: 10px 5px 5px #a59384;
  display: flex;
  flex-direction: column;
  padding: 20px 50px ;
  width: 500px;
}
label{
  color: rgb(32, 30, 30);
  margin: 5px;
  font-family: 'Quicksand', sans-serif;
}
input{
  background-color: #fafafa;
  border-radius: 7px;
  border: 1px rgb(179, 164, 164) solid;
  box-shadow: 7px 4px 4px #a59384;
  font-size: 1rem;
  width: 300px;
}
textarea{
  background-color: #fafafa;
  border-radius: 10px;
  border:1px rgb(179, 164, 164) solid;
  box-shadow: 7px 4px 4px #a59384;
  padding: 5px;
  width: 400px;
}
.btn-send{
  border: 1px rgb(179, 164, 164) solid;
  margin: 10px;
  width: 100px;
  border-radius: 10px;
  height: 30px;
  font-weight: bold;
  transition: 2s;
  font-family: 'Inter', sans-serif;
  box-shadow: 7px 4px 4px #a59384;
}
.btn-send:hover{
  height: 45px;
  cursor: pointer;
}