
main, header{
  
}
main{
  padding-bottom: 30px;
}
body{
  background-image: url(../img/home/Home.jpg);
  background-size: cover;
  background-repeat: none;
}
.title {  
  color: white;
  padding: 15px;
  text-align: center;
}
figure{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 3px;
  padding: 3px;
}
figcaption{
  color: white;
  font-size: 1rem;
  padding: 15px;
}
p{
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

img{
  width: 5rem; height: 5rem; 
}

.images-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.logo-form_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px 0 50px 0;
  width: 100%;
}

.description{
  align-items: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  width: 40%;
  font-size: 1rem;
  font-weight: 300;
}
.description p {
font-size: 1rem;
}
.form-Container{
  width: 60%;
  display: flex;
  justify-content: center;
}
form{
  color: #9a9898;
  background-color: #e2dcdc;
  border-radius: 5px;
  box-shadow: 10px 5px 5px #a59384;
  display: flex;
  flex-direction: column;
  padding: 20px 50px ;
  width: 500px;
}
label{
  color: rgb(32, 30, 30);
  margin: 5px;
}
input{
  background-color: #e2d7ce;
  border-radius: 7px;
  border: 1px rgb(179, 164, 164) solid;
  box-shadow: 7px 4px 4px #a59384;
  font-size: 1rem;
  width: 300px;
}
textarea{
  background-color: #e2d7ce;
  border-radius: 10px;
  border:1px rgb(179, 164, 164) solid;
  box-shadow: 7px 4px 4px #a59384;
  padding: 5px;
  width: 400px;
}
.btn-send{
  border: 1px rgb(179, 164, 164) solid;
  margin: 10px;
  width: 100px;
  border-radius: 10px;
  height: 30px;
  font-weight: bold;
  transition: 2s;
}
.btn-send:hover{
  height: 45px;
  cursor: pointer;
}