main, header{
  background-color: #ccb9a8;
}
p {
  color: white;
  padding: 1.5rem;
}
.about-us {
  margin: auto;
  width: 80%;
}
.mission {
  align-items: center;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.carousel-about {
  margin: auto;
  padding-top: 1rem;
  width: 80%;
  display: block;
  height: 30%;
  padding-bottom: 20px;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}
.item{
  height: 700px;
}

.item img {

    min-height: 300px;
}