.image-background {
  background-image: linear-gradient(rgba(4,4,4, 0.3), rgba(4, 4, 4, 0.3)),
    url(../img/home/three-multicultural-girls-together.jpg);
    height: 100vh;
   background-size: cover;
   background-repeat: no-repeat;
}

.h1-phrase{
  color: #fafafa;
 padding-top: 70vh;
 text-align: center;
 font-family: 'Inter', sans-serif;
 text-shadow: 2px 2px 4px rgba(32, 30, 30, 0.5);
}
.carousel-home {
  width: 100%;
  margin: auto;
  
}

.cards-home {
  background-color: #ccb9a8;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  justify-content: space-around;
  padding-bottom: 3rem;
  padding-top: 5rem;
  
}
.carousel-inner video {
  height: 120vh;
  object-fit:cover;

}

.carousel-item img {
  height: 120vh;
}

.cards-img{
  width: 5rem;
  height: 15rem;
}
.form-relative{
  position: relative;
}
.form-container{
  position: absolute;
  top: 285px;
  height: 300px;
  z-index: 1;
  background: #fafafa;
  width: 100%;
}
.form-none{
  display:none;
}
.close-button{
  display: flex;
  justify-content: space-between;
}
.form-sub{
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 8px;
}
.form-sub a{
  font-weight: bold;
  margin-right: 100px;
}
.form-sub label {
  margin: 4px 8px;
}
.form-sub input{
  border-radius: 8px;
  border: #ccb9a8 solid ;
  margin: 4px 8px;
  width: 40%;
  box-shadow: 3px 3px  #ccb9a8 ;
}
.form-sub button{
  padding: 2px;
  border-radius: 8px;
  border: #ccb9a8 solid ;
  width: 80px;
  margin: 8px 4px;
}

@media only screen and (max-width: 600px) {
  .image-background {
    background-image: linear-gradient(rgba(4, 4, 4, 0.3), rgba(4, 4, 4, 0.3)),
      url(../img/home/transferir.jpg);

    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .h1-phrase{
    color: #fafafa;
   padding-top: 10rem;
   text-align: center;
   font-family: 'Inter', sans-serif;
   text-shadow: 2px 2px 4px rgba(32, 30, 30, 0.5);
  }
}