.imageback {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url('../img/Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
p {
  color: white;
  padding: 1.5rem;
}
.about-us {
  margin: auto;
  width: 80%;
}
.mission {
  align-items: center;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.carousel-about {
  margin: auto;
  padding-top: 1rem;
  width: 60%;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}
