main, header{
  background-color: #ccb9a8;

}
main{
  justify-content: center;
}
h1{
  color: #FFFFFF;
  text-align: center;
 
}
.form{
  align-items: center;
  display: flex;
  justify-content: center;  
}

section{
  width: 75%;
   padding: 20px;
  height: 80vh;
}
#itemForm{
  background-color: #e2dcdc;
  border-radius: 5px;
  box-shadow: 10px 5px 5px #9a9898;
  margin-top: 20px;
  padding: 15px;
}
input:hover{
  cursor: pointer;
}