header {
  background-color: #ccb9a8;
  position: relative;
}

.caroussels{
  padding: 1rem 0 4rem 0;
  /*width: 100%;*/
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  position: static;
  background-color: #ccb9a8;
}

.products-ul{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  background-color: #ccb9a8;
  padding: 0 50px 20px 50px;
}
.products-ul li{
 list-style: none;
}
