h2 {
 text-align: center;
}
body{
  background-image: url(../img/about/aboutus-bg.jpg);
  background-size: cover;
  background-repeat: none;
}
p {
  color: #fdfbfb;
  padding: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  
  
}
.aboutText{
  text-align: center;
}
.about-us {
  font-size: 1.25rem;
  margin: auto;
  width: 60%;
  font-family: 'Quicksand', sans-serif;
  background-color:rgba(43, 9, 0, 0.05);
  

  text-shadow: 2px 2px 4px rgba(32, 30, 30, 0.25);
}
.img-about{
  width: 350px;
  margin-bottom: -38px;
}
.mission {
  align-items: center;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: 'Quicksand', sans-serif;
  justify-content: center;
  text-shadow: 2px 2px 4px rgba(32, 30, 30, 0.4);
}

.carousel-about {
  margin: auto;
  padding-top: 1rem;
  width: 80%;
  display: block;
  height: 30%;
  padding-bottom: 20px;
  
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}
.item{
  /*height: 700px;*/
}

.test{
  display: flex;
}
.col-img{
height: 100%;
}
.img-fluid {
  max-width: 70% !important;
  height: auto;
}
.col-img{
  margin-right: 0;
}
.p-carousel{
  margin-left: 20%;
  background-color: #ae9b8c;
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(32, 30, 30, 0.35);
  
}


